{% if GOOGLE_API_KEY and article.plusactivityid %}
    <div class="g-comments-for {{ article.plusactivityid }}"></div>
    <script src="https://github.com/timrwood/moment/raw/1.7.2/min/moment.min.js"></script>
    <script src="{{ SITEURL }}/theme/pluscomments.js"></script>
    <script type="text/javascript">
    function pluscommentsLoad() {
      pluscomments.load('{{ GOOGLE_API_KEY }}');
    }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=pluscommentsLoad"></script>
{% endif %}
