{% if GOOGLE_CUSTOM_SEARCH_SIDEBAR %}
<div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
<ul class="nav nav-list">
    <li class="nav-header">
    Búsqueda de Google
    </li>

    <script type="text/javascript">
    (function() {
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.es/cse/cse.js?cx=' + '{{GOOGLE_CUSTOM_SEARCH_SIDEBAR}}';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
    })();
    </script>
    <gcse:search>Cargando...</gcse:search>
</ul>
</div>
{% endif %}
